<ng-container [formGroup]="form">
	<ng-container *ngTemplateOutlet="
          formItemTemplate;
          context: { $implicit: 0, group: form }
        ">
	</ng-container>

	<ng-template #formItemTemplate let-i let-group="group">
		<ng-container *ngFor="let control of getKeys(group.controls)">
			<div *ngIf="isFormGroup(group.controls[control])" class="form-group" [formGroup]="group.controls[control]">
				<h1>{{control}}</h1>
				<!-- recorremos los controles que no sean groups para mostralos -->
				<ng-container *ngFor="let controlName of getKeys(group.controls[control].controls)">
					<div *ngIf="isFormControl(group.controls[control].controls[controlName])" class="form-control">
						<label>{{controlName}}</label>
						<input type="text" formControlName="{{controlName}}"/>

          </div>
				</ng-container>
				<!-- Una vez recorridos todos los controles que no son group, entramos en el group actual para seguir anidando -->
				<ng-container *ngTemplateOutlet="
              formItemTemplate;
              context: { $implicit: i + 1, group: group.controls[control] }
            ">
				</ng-container>

			</div>
		</ng-container>

	</ng-template>
</ng-container>